<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau Dashboard</title>
    <style>
        .head{
            text-align: center;
            text-decoration: underline;
        }
        body{
            background-color: gray;
        }
        .words{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 class="head">COVID-19 Information</h1><br><br>
    <h2 class="words"><a type="submit" href="/2020data">World Cases for 2020</a></h2><br><br>
    <h2 class="words"><a type="submit" href="/month">COVID-19 Cases per Country by Month for 2020 and 2021 </a></h2><br><br>
    <h2 class="words"><a type="submit" href="/continent">COVID-19 cases by Continent</a> </h2>
    <a type="submit" href="/logout"><button type="button">LogOut</button></a>
</body>
</html>